__pycache__/ .cache/ venv/ analyze/
checkpoints/
checkpoints_dne/
data/
images/
logs/
tourny/

db_*
*.db*
tmp_db.db*
transfer.tar.gz
py.tar.bz2

# using git status to ignore miscellaneous untracked files more easily
TODO
hello.png
nn.py
notes.txt
r2_g0_2.txt
r2_g0_vrandom.txt
r2_g0_vrandom2.txt
r2_g10_vrandom.txt
round_robin.py
self-spread-2.png
self-spread-2.png.save
self-spread.png
t2.sh
t2test.sh
test_png.py
tmp.png
tmp2.png
tournament.sh

# more of the same
bwr/
comparison.txt
comparison/
coolwarm/
hot/
human-perf-hand-max-min.txt
human-perf-random_weights.txt
proc.txt
progress.txt
r2-comparison-100x10.png
r2-comparison-9x10.png
rand/
random-past-v-future-20x.png
random-trained-v-past-20x.png
redhot/
requirements_t2.txt
seismic/
self-spread-3.png
strat-hum-perf.sh
t2/
tmp_random-past-v-future-20x.png.txt
tmp_random-past-v-future.png.txt
tmp_random-trained-v-past-20x.png.txt
tmp_random-v-prev.png.txt
tournament2.sh

# where the quick head/tail operation failed from above
.cache/
venv/
analyze/
